.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.window1 {
  width: 594px;
  height: 340px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  position: relative;
}

.window1-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  height: 100%;
}

.window1-content img {
  width: 100px;
  height: 100px;
}

.window1-content h2 {
  font-size: 32px;
  color: #000000;
  margin: 0;
}

.window1-content p {
  color: #000000;
  font-size: 17px;
  margin: 0;
}

/* Кнопка крестика */
.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
}

.modal-close-btn img {
  width: 20px;
  height: 20px;
}

.modal-close-btn:hover img {
  filter: brightness(0) saturate(100%) invert(39%) sepia(90%) saturate(746%)
    hue-rotate(348deg) brightness(100%) contrast(95%);
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

.checkbox-label span {
  font-size: 14px;
  margin-left: 5px;
}