.wrapperHero {
  background-image: url(../../img/backgroundHouses.svg);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.wrapperHero-header {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.projects-page {
  font-family: Arial, sans-serif;
}

.projects-title {
  margin-top: 140px;
  margin-left: 60px !important;
  font-size: 46px;
}

.black {
  color: #000;
}

.orange {
  color: orange; /* Или #ff6200, как раньше */
}

.filters {
  display: flex;
  gap: 1rem;
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 1rem;
}

.filters button {
  font-size: 18px;
  padding: 0.5rem 1rem;
  border: 1px solid orange;
  background: white;
  cursor: pointer;
}

.filters button.active {
  background: orange;
  color: white;
}

/* Навигация */
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 60px; /* Смещение вниз на 60px после фильтров */
  margin-left: 60px !important;
}

.mainPr {
  color: #353535;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.2s ease;
}

.mainPr:hover {
  color: #EFA359;
  text-decoration: underline;
}

.line-wrapper {
  padding: 0 60px;
}

.line-divider {
  display: block;
  width: 100%;
}

.house-grid {
  display: grid;
  grid-template-columns: repeat(3, 373px);
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
}

.house-card {
  width: 373px;
  height: 100%;
  border: 1px solid #EFA359;
  position: relative;
  overflow: hidden;
  text-align: left;
  padding: 0;
}

.house-image {
width: 373px;
height: 243px;
position: absolute;
top: 0px; 
left: 0;
margin-bottom: 20px; 
object-fit: cover; 
object-position: center; 
}

.house-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 30px;
  margin-top: 220px;
}

.house-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 8px; /* Отступ от правой рамки для цены */
  white-space: nowrap;
  font-weight: 700;
}

.houseName {
  font-size: 36px;
  color: #000;
}

.houseCost {
  font-size: 23px;
  color: orange;
}

.house-characteristics {
  margin-top: 30px;
}

.house-characteristics p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  font-size: 16px;
}

.house-characteristics p img {
  max-width: 40px;
}

.house-card button {
  background-color: transparent;
  border: 1px solid #efa35a;
  color: #000000;
  font-size: 18px;
  padding: 15px 16px;
  cursor: pointer;
  border-radius: 0px;
  margin-top: 14px;
  margin-bottom: 30px;
}

.house-card button:hover {
  background-color: #f5dcc2;
  color: #0f0f0f;
}






.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pagination-button {
  background: transparent;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
}

.pagination-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.pagination-number {
  background: transparent;
  border: 1px solid #ccc;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
}

.pagination-number.active {
  background: orange;
  color: white;
  border: 1px solid orange;
}