@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/geometria');

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #000000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background-image: url(../img/heroIMG.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.wrapper-header {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}

.container {
    margin: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 22px 0;
    justify-content: center;
    gap: 0 124px;
}

header a {
    text-decoration: none;
    color: #000000;
}

.container-menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

.calling {
    display: flex;
    align-items: center;
    gap: 92px;
}

.container-menu > a {
    font-size: 18px;
    padding: 8px 12px;
}

.dropbtn {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
}

.dropbtn p {
    margin: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 235px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    display: block;
    padding: 12px 16px;
}

.dropdown-content a:hover {
    color: #EFA35A;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.phone {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.phone img {
    filter: invert(64%) sepia(100%) saturate(1000%) hue-rotate(0deg) brightness(90%) contrast(90%);
}

header button {
    background-color: transparent;
    border: 1px solid #EFA35A;
    color: #000000;
    font-size: 18px;
    padding: 15px 16px;
    cursor: pointer;
    border-radius: 0px;
}

header button:hover {
    background-color: #F5DCC2;
    color: #0F0F0F;

}

.hero {
    max-width: 1080px;
    margin: 240px 0 0 70px;
    color: #FFFFFF;
}

.hero h1 {
    font-family: "Geometria", sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.hero h1 span {
    display: inline;
    font-size: 200px;
    font-weight: 800;
}

.hero h1 span .win {
    color: #EFA35A;
}

.hero h1 span .dom {
    color: #FFFFFF;
}

.hero p {
    font-size: 24px;
    font-weight: 400;
    margin: 26px 0 40px;
    max-width: 446px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 75px 0 114px 0;
}

.hero-buttons button {
    padding: 15px 24px;
    font-size: 18px;
    font-weight: 700px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.hero-buttons button:first-child {
    background-color: #EFA35A;
}

.hero-buttons button:first-child:hover {
    background-color: #EC8520;
}

.hero-buttons button:nth-child(2) {
    border: 1px solid #EFA35A;
    background: rgba(53, 53, 53, 0.7);
}

.hero-buttons button:nth-child(2):hover {
    background: rgba(53, 53, 53, 0.95);
}

.hero-buttons .play {
    background-color: #EFA35A;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
}

.hero-buttons .play::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid #FFFFFF;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-left: 4px;
}

.hero-buttons .play span {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
}

.watch-video {
    position: absolute;
    right: 207px;
    top: 85%;
    transform: translateY(-50%);
    display: flex; /* Убедимся, что используем flex для выравнивания */
    align-items: center; /* Вертикальное выравнивание */
    cursor: pointer;
}

.watch-video .circle {
    position: relative;
    width: 150px;
    height: 150px;
    background: url('../img/playEllipse.svg'); 
    background-size: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 10px rgba(255, 204, 153, 0.5); 
    animation: pulseSize 2s infinite, pulseBrightness 2s infinite;
    transition: all 0.3s ease;
}

.watch-video .triangle {
    position: absolute;
    width: 50px; 
    height: 50px;
    background: url('../img/playButtom.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.watch-video p {
    position: absolute;
    left: 110px;
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    margin: 0; /* Убираем отступы */
    white-space: nowrap; /* Предотвращаем перенос текста */
}

@keyframes pulseSize {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes pulseBrightness {
    0% { filter: brightness(1); }
    50% { filter: brightness(1.1); }
    100% { filter: brightness(1); }
}

.watch-video .circle:hover {
    animation: none;
    transform: scale(1.2); 
    filter: brightness(1);
}

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-modal-content {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 60%;
  max-height: 450px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1100;
  padding: 5px 15px;
}

.close-button:hover {
  background: #f0f0f0;
}

/* Ensure iframe fills the modal content */
.video-modal-content iframe {
  width: 100%;
  height: 100%;
}

.stats-container {
    display: flex;
    justify-content: center;
    max-width: 1520px;
    margin: 80px auto; 
    color: #EFA35A;
    gap: 116px
}

.stat-item {
    text-align: center; 
    margin: 0 20px; 
}

.stat-item .number-line {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.stat-item h2 {
    font-size: 120px;
    font-weight: 500;
    margin: 0;
    color: #EFA35A;
}

.stat-item .line-image {
    width: 280px; 
    height: 2px; 
    background-color: #EFA35A; 
    margin: 25px 0 20px 0; 
}

.stat-item p {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    margin: 10px 0 0;
    max-width: 277px;
    text-align: left;
}

.company-section {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px auto;
}
        
.company-text {
    width: 530px;
    flex-shrink: 0;
}
        
.company-text h2 {
    font-size: 40px;
    color: #EFA35A;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 700;
}
        
.company-text p {
    font-size: 22px;
    font-weight: 400;
    color: #333333;
    line-height: 32px;
    margin-bottom: 10px;
    margin-bottom: 25px;
}
        
.company-text .windom {
    color: #EFA35A;
    font-weight: 500;
}
        
.images-container {
    position: relative;
    flex-shrink: 0;
    margin-left: 74px;
}
        
.company-image {
    margin-top: 26px;
    width: 551px;
    height: 451px;
    display: block;
    object-fit: cover;
}
        
.orange-frame {
    position: absolute;
    left: 31px;
    top: 0px;
    z-index: -1;
    width: 488px;
    height: 503px;
}
        
.social-icons {
    margin-top: 67px;
    margin-left: 325px;
    display: flex;
    gap: 15px;
}
        
.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #414753;
}
        
.social-icons img {
    width: 20px;
    height: 20px;
    transition: filter 0.3s ease;
}
        
.social-icons a:hover {
    background-color: #414753;
}
        
.social-icons a:hover img {
    filter: brightness(0) invert(1);
}

.wrapper-unique-architecture {
  position: relative;
  padding: 60px 20px 100px; /* Увеличим верхний паддинг, чтобы освободить место под заголовок */
  max-width: 1162px;
  margin: 0 auto;
  border: 1px solid #f49c42;
  background-color: white;
}

.uniqueArchitecture {
  position: relative;
  width: 100%;
}

/* Заголовок выходит за рамку вверх */
.uniqueArchitecture h1 {
  position: absolute;
  top: -70px; 
  left: -21px; 
  background: white;
  padding: 0 75px 68px 0;
  font-size: 40px;
  font-weight: 500;
  z-index: 2; /* поверх рамки */
}

.unique {
  color: #000000;

}

.architecture {
  color: #f49c42;
  font-style: Italic;
}

.unique-architecture-images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  padding: 68px 16px;
  gap: 1px;
}

.unique-architecture-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.architecture-description {
  position: absolute;
  top: 600px;
  right: -40px;
  padding: 20px;
  max-width: 810px;
  text-align: left;
  z-index: 2;
  background: white;
}

.wrapper-unique-architecture p {
  font-size: 23px;
  line-height: 1.6;
  font-weight: 400;
  color: #000;
  background: white;
  display: inline;
}

.wrapper-unique-architecture p.orange-text-about-architecture {
  color: #f49c42;
  font-style: italic;
}


.sliderWrapper {
  position: relative;
  width: 100%;
  margin: 130px 0 0 0;
  overflow: hidden;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 590px;
}

.slide {
  position: absolute;
  top: 0;
  transition: all 0.6s ease;
  opacity: 0;
  transform: scale(0.8);
  z-index: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
  pointer-events: auto;
}

.slide.prev {
  opacity: 0.5;
  transform: translateX(-110%) scale(0.85);
  z-index: 1;
}

.slide.next {
  opacity: 0.5;
  transform: translateX(110%) scale(0.85);
  z-index: 1;
}

.slide.hidden {
  opacity: 0;
  transform: scale(0.7);
  pointer-events: none;
  z-index: 0;
}

.slider-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.dot {
  width: 50px;
  height: 10px;
  background-color: #ccc;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active-dot {
  background-color: #f4a261;
}
